


<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-25 p-b-50">
			<form name="form" class="login100-form validate-form" ng-submit="form.$valid && rg.signup()" novalidate>
				<img src="images/gitbanner.png" class="img-thumbnail" alt="git-banner">
				<span class="login100-form-title p-b-10 fs-18 m-t-20">
					Student Registration
				</span>
				
				<div class="wrap-input100 validate-input" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }" data-validate = "Valid username is required: ex@abc.xyz">
					
					<input type="text" name="username" class="input100" placeholder="First and Last Name"  autocomplete="username" ng-model="rg.username" required />
					<span ng-messages="form.$submitted && form.username.$error"  class="focus-input100-1">
						<span ng-message="required" class="focus-input100-2 text-danger"style="font-size : x-small;padding-left: 40%;"><b>Username is required!</b></span>
					</span>
					
				</div>
				
				<div class="wrap-input100 validate-input" ng-class="{ 'has-error': form.$submitted && form.email.$invalid }" data-validate = "Valid email is required: ex@abc.xyz">
					
					<input type="email" name="email" class="input100" placeholder="Email"  autocomplete="username" ng-model="rg.email" required />
					<span ng-messages="form.$submitted && form.email.$error" style="font-size : x-small;padding-left: 40%;"  class="focus-input100-1 focus-input100-2 text-danger">
						<span ng-message="required" ><b>Email is required!</b></span>
						<span ng-show = "form.$submitted && form.email.$error.email"><b>Invalid email address.</b></span>
					</span>
					
				</div>
				
				
				<div class="wrap-input100 rs1 validate-input m-b-2" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }" data-validate="Password is required">
					
					<input type="password" name="password" class="input100" placeholder="Password"minlength="6" autocomplete="current-password" ng-model="rg.password" required />
					<span ng-messages="form.$submitted && form.password.$error"  class="focus-input100-1">
						<span ng-message="required" class="focus-input100-2 text-danger"style="font-size : x-small;padding-left: 40%;"><b>Password is required</b></span>
					</span>
					<span ng-show="form.password.$error.minlength" class="focus-input100-2 text-danger"style="font-size : x-small;padding-left: 20%;"><b>Password should be min. 6 chars long</b></span>
					
					
				</div>
				
				<div class="wrap-input100 rs1 validate-input" ng-class="{ 'has-error': form.$submitted && form.password1.$invalid }" data-validate="Password is required">
					
					<input type="password" name="password1" class="input100" placeholder="Confirm Password" autocomplete="current-password" ng-model="rg.password1" required />
					<span ng-messages="form.$submitted && form.password1.$error"  class="focus-input100-1">
						<span ng-message="required" class="focus-input100-2 text-danger"style="font-size : x-small;padding-left: 40%;"><b>Please Confirm Password</b></span>
					</span>
					<span class="help-block focus-input100-2 text-danger"style="font-size : x-small;padding-top :5%; padding-left: 40%;" ng-show="rg.password != rg.password1"><b>Passwords do not match</b></span>
					
				</div>
				
				
				
				
				
				<div class="container-login100-form-btn m-t-20">
					<button class="login100-form-btn" type="submit"  ng-disabled="rg.password != rg.password1">
						Sign up
					</button>
				</div>
				
				
				
				<div class="text-center">
					<span class="txt1">
						Already registered?
					</span>
					
					<a href="#!" class="txt2 hov1">
						Sign in
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

